@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }
<p>
    В Книжарница Букварче може да намерите най-богат избор на продукти, да се информирате за всички новости и събития или просто да прекарате творчески и приятно времето си. В нея ще нямерите бързо и лесно различни видове книги, учебници и ученически пособия.
</p>
    <div class="text-center">
    <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2019/01/Top-10-Ranking-About-Us-Pages.png" />
    </div>
    <style>
        body {
            background-color: aquamarine;
        }
    </style>
