@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    В Книжарница Букварче може да намерите най-богат избор на продукти, да се информирате за всички новости и събития или просто да прекарате творчески и приятно времето си. В нея ще нямерите бързо и лесно различни видове книги, учебници и ученически пособия.
</p>
<img src="https://static.standartnews.com/storage/thumbnails/inner_article/2216/0284/7992/online-bookstore.jpg" />
