@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    Книжарница Букварче
    гр. Перник, ул. „Райко Даскалов“ 4/2 (под Пожарната), 
    тел. 076/604 757 или 0883/309 902
</p>
<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201909/contact-details-3381225_1280.jpeg?524JGkJvIBQ1imnKfpn2djsEHFX06JK7&size=1200:675" />
