@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Заповядайте в Книжарница "Букварче"</h1>

    <img src="https://thumbs.dreamstime.com/b/flat-design-concept-online-books-store-hand-pick-book-inte-flat-design-concept-online-books-store-hand-pick-book-117511460.jpg" />


</div>