@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Заповядайте в Книжарница "Букварче"</h1>
    <h2> В Книжарница "Букварче" ще откриете голям набор от книги, учебници и ученически помагала на едно място. </h2>

    <img src="https://thumbs.dreamstime.com/b/flat-design-concept-online-books-store-hand-pick-book-inte-flat-design-concept-online-books-store-hand-pick-book-117511460.jpg" />
    


</div>