@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://thumbs.dreamstime.com/b/flat-design-concept-online-books-store-hand-pick-book-inte-flat-design-concept-online-books-store-hand-pick-book-117511460.jpg" />
</div>
